.logout-icon {
  font-size: 35px;
  padding: 8px;
  cursor: pointer;
  box-sizing: content-box!important;
}



.user-login{
  justify-content: center;
  font-size: 15px;
  padding-right: 30px;
  padding-top: 10px;
}

.logo{
  background: white;
  cursor: pointer;
  padding: 4px;
  border-radius: 25px;
}
